<header class="bg-blue-400 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="hover:bg-blue-300 py-2 px-4 rounded transition duration-300"
          >airbnb</a
        >
      </li>
      <li>
        <a
          href="/homes"
          class="hover:bg-blue-300 py-2 px-4 rounded transition duration-300"
          >Homes List</a
        >
      </li>
      <li>
        <a
          href="/favourites"
          class="hover:bg-blue-300 py-2 px-4 rounded transition duration-300"
          >Favourites</a
        >
      </li>
      <li>
        <a
          href="/bookings"
          class="hover:bg-blue-300 py-2 px-4 rounded transition duration-300"
          >Bookings</a
        >
      </li>
      <li>
        <a
          href="/host/host-home-list"
          class="hover:bg-blue-300 py-2 px-4 rounded transition duration-300"
          >Host Homes</a
        >
      </li>
      <li>
        <a
          href="/host/add-home"
          class="hover:bg-blue-300 py-2 px-4 rounded transition duration-300"
          >Add Home</a
        >
      </li>
    </ul>
  </nav>
</header>